USE [KPSM_GIT]
GO
/****** Object:  StoredProcedure [dbo].[SP_TeacherDetails]    Script Date: 4/28/2025 11:54:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_TeacherDetails]
as
BEGIN
 
 SELECT * FROM Teacher

END
GO
